<!--Root-->
<script type="text/x-handlebars">
    <h1>Cykel.Ember root</h1>
    {{#linkTo "list"}}Station list{{/linkTo}}
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="root">
    <h2>Station root</h2>
    {{outlet}}
</script>

<!--List-->
<script type="text/x-handlebars" data-template-name="root/list">
    So, this is the CollectionView
    {{view.controller}}
</script>

<script type="text/x-handlebars" data-template-name="listItemView">
    IM BATMAN!
    {{#with view.content}}
        <div>
            <a {{ action expand view.content target="view"}}>Expandera!</a>
            {{#linkTo "context" view.content}} {{ title }} : {{ station }}{{/linkTo}}
        </div>
        
        {{#if view.expanded}}
        Well, I'm taking up rather a lot of space, aren't I?
        {{/if}}

    {{/with}}
</script>

<!--Dashboard-->
<script type="text/x-handlebars" data-template-name="context">
    <h3>Dashboard/context for name: {{ name }} title: {{title}}</h3>
    {{#linkTo "context.edit" }}Edit{{/linkTo}}
    {{#linkTo "context.design" }}Design{{/linkTo}}

    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="context/edit">
    <p>woot, edit</p>
</script>

<script type="text/x-handlebars" data-template-name="context/design">
    <p>woot, design</p>
</script>

@section scripts {
    @Scripts.Render("~/Scripts/App.js")
    @Scripts.Render("~/Scripts/Models.js")
}