<script type="text/x-handlebars">
    <h1>Cykel.Ember root</h1>
    {{#linkTo "root.list"}}Station list{{/linkTo}}
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="root">
    <h2>Station root</h2>
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="root/list">
    {{ render "StationListItems" }}
</script>

<script type="text/x-handlebars" data-template-name="context">
    <h3>Dashboard/context for {{ name }}</h3>
    {{#linkTo "context.edit" this}}Edit{{/linkTo}}
    {{#linkTo "context.design" this}}Design{{/linkTo}}
</script>

<script type="text/x-handlebars" data-template-name="listView">
    <h3>Stations</h3>
    {{each controller itemViewClass="App.ListItemView"}} 
</script>

<script type="text/x-handlebars" data-template-name="listItemView">
    IM BATMAN!
    {{#linkTo "context" station }}{{ title }}{{/linkTo}}
    {{bodyTemplate}}
</script>

<script type="text/x-handlebars" data-template-name="stationBody">
    i'mma {{view.content.name}} bodytemplate 
</script>

@section scripts {
    @Scripts.Render("~/Scripts/App.js")
    @Scripts.Render("~/Scripts/Models.js")
}