<!--Root-->
<script type="text/x-handlebars">
    <h1>Cykel.Ember root</h1>
    {{#linkTo "root.list"}}Station list{{/linkTo}}
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="root">
    <h2>Station root</h2>
    {{outlet}}
</script>


<!--List-->
<script type="text/x-handlebars" data-template-name="root/list">
    {{ render "StationListItems" }}
</script>

<script type="text/x-handlebars" data-template-name="listView">
    <h3>Stations</h3>
    {{each controller itemViewClass="App.ListItemView"}} 
</script>

<script type="text/x-handlebars" data-template-name="listItemView">
    IM BATMAN!
    {{#linkTo "context" this}} {{ title }} : {{ station }}{{/linkTo}}
    {{bodyTemplate}}
</script>

<!--Dashboard-->
<script type="text/x-handlebars" data-template-name="context">
    <h3>Dashboard/context for name: {{ name }} title: {{title}}</h3>
    {{#linkTo "context.edit" }}Edit{{/linkTo}}
    {{#linkTo "context.design" }}Design{{/linkTo}}

    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="context/edit">
    <p>woot, edit</p>
</script>

<script type="text/x-handlebars" data-template-name="context/design">
    <p>woot, design</p>
</script>

@section scripts {
    @Scripts.Render("~/Scripts/App.js")
    @Scripts.Render("~/Scripts/Models.js")
}